body{
    width: 280px;
    height: 130px;
    background-color: rgb(226, 247, 104);
    color: green;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label{
    display: inline;
}

#speed{
    display: inline;
}

.center{
    text-align: center;
    padding-top: 2px;
}

.button-container{
    float:right;
    display: block;
}

.snake{
    margin-left: 35px;
}